.nav {
    /* margin-left: 395px; */
    padding-top: 50px;

}

.table {
    margin-top: 60px;
}

button.btn.btn-default {
    background: unset;
}

button.btn.btn-default i {
    margin: 0 5px 0 0;
    color: #999;
}

button.btn.btn-default label {
    color: #999;
}

.tab-content {
    min-height: 500px;
    width: 95%;
    border: 1px solid #dee2e6;
    background: white;
}

ul.nav.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-item {
    border-radius: 0 !important;
}

a.nav-link {
    border-radius: 0 !important;
    padding: 1rem 2vw;
}

app-sidebar {
    width: 325px !important;
}

.table thead th {
    color: red;
    border: none
}

table.table {
    width: 100% !important;
}

.tab-content .col-8 {
    width: 100%;
    flex: unset;
    max-width: unset;
}

.nav-tabs .nav-link:not(.active) {
    color: #999;
}

body:after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body {
    background: unset !important;
}

ul.nav.nav-tabs {
    width: 95%;
}


span.icono-estatus {
    display: inline-block;
    width: 50%;
    height: 16px;
    background: url('/assets/estatusok.PNG');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}


span.icono-estatus2 {
    display: inline-block;
    width: 50%;
    height: 16px;
    background: url('/assets/estatusno.PNG');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

span.icono-edit {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('/assets/edit.PNG');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

span.icono-exit {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('/assets/iconoexit.PNG');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

th {
    font-weight: 400;
}


/* estilos input busqueda */

#buscarcurso {
    position: absolute;
    background: url('/assets/lupa.PNG');
    background-repeat: no-repeat;
    background-position: right;
    width: 290px;
    right: 15px;
    margin-top: 9px;
    background-color: rgba(235, 235, 235, 0.993);
    z-index: 1;
    margin-top: -30px;
}

.tab-pane {
    position: relative;
}

.modal-content {
    width: 120%;
    background-color: rgba(235, 235, 235, 0.993);
    
}

#add-curso{
    display: inline-block;
}

#add-ele{
    display: inline-block;
    width: 100%;
}

input[type="url"] {
    display: block;
    width: 97%;
}

.top{
    margin-top: 12px
}
button.crearea{
    position: absolute;
    right: 10px;
    color: #fff;
    background-color: #e5312e;
    font-size: 11px;
    width: 28%;
    height: 25px;
}

select {
    text-transform: none;
    display: block;
    width: 97%;
    height: 30px;
}

.input-curso{
    width: 97%;
    height: 35px;
    line-height: 35px;
}
#cestatus{
    display:inline-block;
    margin-left: 4%;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    display: block;
    margin-top: 5px;
    border-radius: 0;
    
}

textarea#desc {
    display: block;
    width: 500px;
    height: 100px;
    margin-top: 5px;
}
textarea#desd {
    display: block;
    width: 500px;
    height: 100px;
    margin-top: 5px;
}
textarea#desu {
    display: block;
    width: 500px;
    height: 100px;
    margin-top: 5px;
}

textarea#desele {
    display: block;
    width: 500px;
    height: 100px;
    margin-top: 5px;
}
.modal-footer{
    
    display: block;
}

button.crear {
    position: absolute;
    right: 10px;
    color: #fff;
    background-color: #e5312e;
    font-size: 13px;
    width: 20%;
}
button.cancelar {
    color: #fff;
    background-color: #999;
    font-size: 13px;
    width: 20%;
}

.text-area {
    margin-top: 15px
}

.namec {
    margin: 5%;
}

#dropdownMenuButton{
    background-color: #359907;
}

h5{
    color:#e5312e;
}

.modal-header{
    margin-bottom: -10%;
}

.input-des{
    width: 97%;
    height: 35px;
    line-height: 35px;
}
.input-ubi{
    width: 97%;
    height: 35px;
    line-height: 35px;
}

.input-elemento{
    
    height: 35px;
    line-height: 35px;
    width: 97%;
}

div#add-curso {
    width: 74%;
}

div#sel-des {
    width: 50%;
    display: inline-block;

}

div#tipo-fil {
    width: 50%;
    display: inline-block;
}

div#add-vmax {
    display: inline-block;
    width: 50%;
}

div#add-vmin {
    display: inline-block;
    width: 50%;
}

 #sel-des select{
    text-transform: none;
    display: block;
    width: 90%;
    height: 30px;
}

#tipo-fil select{
    text-transform: none;
    display: block;
    width: 90%;
    height: 30px;
}

input.input-vmin {
    width: 90%;
}

input.input-vmax {
    width: 90%;
}



textarea#editdesc {
    display: block;
    width: 500px;
    height: 100px;
    margin-top: 5px;
}

div#curso-estatus {
    display: inline-block;
}

div#namecurso {
    display: inline-block;
    
    width: 70%;
}

span {
    display: flex;
}

input.input-editcurso {
    width: 90%;
}

div#curso-estatus{
    display: inline-block;
}

#dropdownMenuButton.dropedit {
    background-color: #359907;
    width: 139px;
}

button.gcopiac{
    color: #fff;
    background-color: #999;
    font-size: 13px;
    width: 20%;
    position: absolute;
    right: 26%;
}

.modificacion{
    
    margin: 20px 0 20px 0;
}