<div id="principal">

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/curso">Curso</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/destino">Destino</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Ubicacion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Tipo de Elemento</a>
  </li>

  <li class="nav-item">
    <a class="nav-link disabled" href="#">Elemento de Aprendizaje</a>
  </li>

  <li class="nav-item">
    <a class="nav-link disabled" href="#">Filtro</a>
  </li>
</ul>
</div>
<button>
<i class="fa fa-plus-circle"></i><label for="">Crear Nuevo Curso</label>
</button>

<div class="container ">
  <div class="row">
    <div class="col-8">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>

    </div>
  </div>
</div>

