<div id="principal" role="tabpanel">

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" routerLink="/curso" aria-controls="" data-toggle="tab" role="tab">Curso</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" routerLink="/destino" aria-controls="" data-toggle="tab" role="tab">Destino</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" routerLink="/ubicacion" aria-controls="" data-toggle="tab" role="tab">Ubicacion</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" routerLink="/telemento" aria-controls="" data-toggle="tab" role="tab">Tipo de Elemento</a>
  </li>

  <li class="nav-item" role="presentation">
    <a class="nav-link" routerLink="/eaprendizaje" aria-controls="" data-toggle="tab" role="tab">Elemento de Aprendizaje</a>
  </li>

  <li class="nav-item" role="presentation">
    <a class="nav-link" routerLink="/filtro" aria-controls="" data-toggle="tab" role="tab">Filtro</a>
  </li>
</ul>
</div>

<div class="tab-content">
  <div >
  
</div>
