
.nav{
    /* margin-left: 395px; */
    padding-top: 50px
}

.nav{
    /* margin-left: 395px; */
    padding-top: 50px;
    
}

.table{
    margin-top: 60px;
}

button.btn.btn-default {
    background: unset;
}

button.btn.btn-default i {
    margin: 0 5px 0 0;
    color: #999;
}

button.btn.btn-default label {
    color: #999;
}

.tab-content {
    min-height: 500px;
    width: 95%;
    border: 1px solid #dee2e6;
    background: white;
}

ul.nav.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-item {
    border-radius: 0 !important;
}

a.nav-link {
    border-radius: 0 !important;
    padding: 1rem 2vw;
}

app-sidebar {
    width: 325px !important;
}

.table thead th {
    color: red;
    border:none
}

table.table {
    width: 100% !important;
}

.tab-content .col-8 {
    width: 100%;
    flex: unset;
    max-width: unset;
}

.nav-tabs .nav-link:not(.active) {
    color: #999;
}

body:after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;}

    body {
        background: unset !important;
    }
    
    ul.nav.nav-tabs {
        width: 95%;
    }

    #buscardhabientes {
        position: absolute;
        background: url('/assets/lupa.PNG');
        background-repeat: no-repeat;
        background-position: right;
        width: 342px;
        display: block;
        margin-top: 9px;
        margin-top: 9px;
        
        background-color: rgba(235, 235, 235, 0.993)
    }
    
    .tab-pane {
        position: relative;
    }

    #nss{
        margin-left: 20px;
    margin-top: 22px;
    }


    #buscarde {
        position: absolute;
    
        background: url('/assets/calendario.PNG');
        background-repeat: no-repeat;
        width: 48%;
        background-position: right;
        margin-top: 9px;
        top: 20px;
        background-color: #ffff;
        left: 0;
    }

    #buscarhasta {
        position: absolute;
        display: block;
        background: url('/assets/calendario.PNG');
        background-repeat: no-repeat;
        
        width: 48%;
        background-position: right;
        margin-top: 9px;
        background-color:#ffff;
        right: 0;
    }
    
    .tab-pane {
        position: relative;
    }

    #periodo{
        display: inline-block;
        width: 48%;
        position: relative;
        margin-left: 25px;
        margin-top: 25px;
    }
    .btn-group{
        display: inline-block;
        /* position: absolute; */
    }

    #sdestino{
        
        display: inline-block;
        width: 48%;
    }

    .btn-group[_ngcontent-c2] {
        display: inline-block;
        width: 40%;
        
    }