.nav{
    /* margin-left: 395px; */
    padding-top: 50px
}

.nav{
    /* margin-left: 395px; */
    padding-top: 50px;
    
}

.table{
    margin-top: 60px;
}

button.btn.btn-default {
    background: unset;
}

button.btn.btn-default i {
    margin: 0 5px 0 0;
    color: #999;
}

button.btn.btn-default label {
    color: #999;
}

.tab-content {
    min-height: 500px;
    width: 95%;
    border: 1px solid #dee2e6;
    background: white;
}

ul.nav.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-item {
    border-radius: 0 !important;
}

a.nav-link {
    border-radius: 0 !important;
    padding: 1rem 2vw;
}

app-sidebar {
    width: 325px !important;
}

.table thead th {
    color: red;
    border:none
}

table.table {
    width: 100% !important;
}

.tab-content .col-8 {
    width: 100%;
    flex: unset;
    max-width: unset;
}

.nav-tabs .nav-link:not(.active) {
    color: #999;
}


    
    ul.nav.nav-tabs {
        width: 95%;
    }