<ul class="nav nav-tabs">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" href="#plantilla" aria-controls="plantilla" data-toggle="tab" role="tab">plantilla</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="#cplantilla" aria-controls="cplantilla" data-toggle="tab" role="tab">Crear Nueva Plantilla</a>
    </li>
    
  </ul>
  
  

  <div class="tab-content"> 

  <div role="tabpanel" class="tab-pane active" id="curso">
      <!-- tabla -->
      <div class="container ">
          <div class="row">
            <div class="col-8">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha de creacion</th>
                        <th scope="col">Estatus</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <!-- <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr> -->
                    </tbody>
                  </table>
        
  </div>
</div>
</div>
</div>