<ul class="nav nav-tabs">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" href="#plantilla" aria-controls="plantilla" data-toggle="tab" role="tab">plantilla</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" href="#cplantilla" aria-controls="cplantilla" data-toggle="tab" role="tab">Crear Nueva
      Plantilla</a>
  </li>

</ul>



<div class="tab-content">

  <div role="tabpanel" class="tab-pane active" id="plantilla">
    <button class="btn btn-default" data-toggle="modal" data-target="#exampleModal3">
      <i class="fa fa-plus-circle"></i><label for="">Crear Nueva Plantilla</label>
    </button>


     <!-- filtro -->

     <input type="search" id="buscarcurso" placeholder="Buscar plantilla">


    <!-- tabla -->
    <div class="container ">
      <div class="row">
        <div class="col-8">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha de creacion</th>
                <th scope="col">Estatus</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Saber mas para decidir mejor</th>
                <td>23/may/2018</td>
                <td><span class="icono-estatus"></span></td>
                <td><span class="icono-edit"></span><span class="icono-exit"></span></td>
              </tr>
              <tr>
                  <th scope="row">Como obtener un credito para construccion</th>
                  <td>18/may/2018</td>
                  <td><span class="icono-estatus"></span></td>
                <td><span class="icono-edit"></span><span class="icono-exit"></span></td>
                </tr>
                <tr>
                  <th scope="row">Como pedir un credito infonavit</th>
                  <td>30/abr/2018</td>
                  <td><span class="icono-estatus2"></span></td>
                <td><span class="icono-edit"></span><span class="icono-exit"></span></td>
                </tr> 

                <tr>
                    <th scope="row">Requisitos para tramitar un credito</th>
                    <td>15/abr/2018</td>
                    <td><span class="icono-estatus"></span></td>
                  <td><span class="icono-edit"></span><span class="icono-exit"></span></td>
                  </tr> 

                  <tr>
                      <th scope="row">Credito para construccion</th>
                      <td>28/mar/2018</td>
                      <td><span class="icono-estatus"></span></td>
                    <td><span class="icono-edit"></span><span class="icono-exit"></span></td>
                  </tr> 

                  <tr>
                      <th scope="row">¿Que es el INFONAVIT?</th>
                      <td>21/mar/2018</td>
                      <td><span class="icono-estatus2"></span></td>
                    <td><span class="icono-edit"></span><span class="icono-exit"></span></td>
                  </tr> 

                  <tr>
                      <th scope="row">Resuelve tu credito Infonavit</th>
                      <td>24/feb/2018</td>
                      <td><span class="icono-estatus"></span></td>
                    <td><span class="icono-edit"></span><span class="icono-exit"></span></td>
                  </tr> 

                  <tr>
                      <th scope="row">Aprende a elegir la mejor ubicacion de tu casa</th>
                      <td>14/feb/2018</td>
                      <td><span class="icono-estatus"></span></td>
                    <td><span class="icono-edit"></span><span class="icono-exit"></span></td>
                  </tr> 

                  <tr>
                      <th scope="row">ABC del credito hipotecario</th>
                      <td>2/feb/2018</td>
                      <td><span class="icono-estatus"></span></td>
                    <td><span class="icono-edit"></span><span class="icono-exit"></span></td>
                  </tr> 

                  <tr>
                      <th scope="row">Retos para construir una casa</th>
                      <td>6/ene/2018</td>
                      <td><span class="icono-estatus"></span></td>
                    <td><span class="icono-edit"></span><span class="icono-exit"></span></td>
                  </tr> 

                  <tr>
                      <th scope="row">El INFONAVIT te acompaña</th>
                      <td>1/ene/2018</td>
                      <td><span class="icono-estatus"></span></td>
                    <td><span class="icono-edit"></span><span class="icono-exit"></span></td>
                  </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="cplantilla">

    <h3>Crear tu Plantilla</h3><br><br>
    <span>Nombre de la plantilla*</span><br>
    <input type="text" name="namep" placeholder="Nombre de la plantilla"><br>


    <div class="dropdown">

      <span>Estatus</span><br>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Activo
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>

    <span>Nombre de la plantilla*</span><br>
    <!-- Large button groups (default and split) -->
    <div class="btn-group">
      <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Seleccionar
      </button>
      <div class="dropdown-menu">
        ...
      </div>
    </div><br>

    <span>Agregar el Destino*</span><br>
    <div class="btn-group">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Seleccionar
        </button>
        <div class="dropdown-menu">
          ...
        </div>
      </div><br><br>

      <span>Agrega las pantallas de tu plantilla*</span><br>
      <button class="btn btn-default" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-plus-circle"></i><label for="">Agregar pantalla</label>
        </button>
    
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
  
    

  </div>
</div>