.nav{
    /* margin-left: 395px; */
    padding-top: 50px
}

.nav{
    /* margin-left: 395px; */
    padding-top: 50px;
    
}

.table{
    margin-top: 60px;
}

button.btn.btn-default {
    background: unset;
}

button.btn.btn-default i {
    margin: 0 5px 0 0;
    color: #999;
}

button.btn.btn-default label {
    color: #999;
}

.tab-content {
    min-height: 500px;
    width: 95%;
    border: 1px solid #dee2e6;
    background: white;
}

ul.nav.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-item {
    border-radius: 0 !important;
}

a.nav-link {
    border-radius: 0 !important;
    padding: 1rem 2vw;
}

app-sidebar {
    width: 325px !important;
}

.table thead th {
    color: red;
    border:none
}

table.table {
    width: 100% !important;
}

.tab-content .col-8 {
    width: 100%;
    flex: unset;
    max-width: unset;
}

.nav-tabs .nav-link:not(.active) {
    color: #999;
}


    
    ul.nav.nav-tabs {
        width: 95%;
    }


    span.icono-estatus {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('/assets/estatusok.PNG');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        
    }

    span.icono-estatus2 {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('/assets/estatusno.PNG');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        
    }

    span.icono-edit {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('/assets/edit.PNG');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }

    span.icono-exit {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('/assets/iconoexit.PNG');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    th {
        font-weight: 400;
    }

    #buscarcurso {
        position: absolute;
        background: url('/assets/lupa.PNG');
        background-repeat: no-repeat;
        background-position: right;
        width: 290px;
        right: 15px;
        margin-top: 9px;
        background-color: rgba(235, 235, 235, 0.993)
    }
    
    .tab-pane {
        position: relative;
    }

    h3{
        color:   #e5312e;
    }

    .nplantilla{
        margin-left: 10px;
    }

    span{
        margin-left: 40px;
    }

    .nplantilla {
        margin-left: 34px;
        margin-top: 33px;
        width: 65%;
    }

    input{
        margin-left: 40px;
        width: 555px;
        display: block;
    }


  