
<header class="logoInfo">

  
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <label>
          <a routerLink="">
            <img class="logoInfo" src="assets/logo.svg">
          </a>
        </label>
      </div>
    </div>
  </div>
  
</header>

<header class="logoInfo">

  
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <label>
          <a routerLink="">
            <img class="logoInfo" src="assets/logo.svg">
          </a>
        </label>
      </div>
    </div>
  </div>
  
</header>

<div id="container">
    

  <!-- Sidebar -->

 

    <div class="sidebar-nav">
    <ul class="listaInfonavit">
      
      <li>
        <h3><a routerLink="/"><img class="iconito" src="assets/ico-usuario.svg"> Bienvenido <br> <span class="usuario">José Pedro Espinoza</span></a></h3>
      </li>
      <li>
        <h3><a routerLink="/catalogos"><img class="iconito" src="assets/ico-menu-catalogos.svg"> Catálogos</a></h3>
      </li>
      <li>
        <h3><a routerLink="/plantillas"><img class="iconito" src="assets/ico-menu-plantillas.svg"> Plantillas</a></h3>
      </li>

      <li>
        <h3><a routerLink="/reporteador"><img class="iconito" src="assets/ico-menu-reporteador.svg"> Reporteador</a></h3>
      </li>

      <li>
        <h3><a routerLink="/gestion"><img class="iconito" src="assets/ico-menu-gestion-usuarios.svg"> Gestión de Usuarios</a></h3>
      </li>

      <li>
        <h3><a routerLink="/csesion"><img class="iconito" src="assets/ico-menu-cerrar-sesion.svg"> Cerrar Sesión</a></h3>
      </li>

    </ul>
  </div>
  </div>



