
<header>

  
  <label>
    <a routerLink="">
      Infonavit</a>
  </label>
  
</header>



<div id="conteiner">
    

  <!-- Sidebar -->

 

    <div class="sidebar-nav">
    <ul>
      
      <li>
        <a routerLink="/bienvenido">Bienvenido</a>
      </li>
      <li>
        <a routerLink="/">Catalogos</a>
      </li>
      <li>
        <a routerLink="/plantillas">Plantillas</a>
      </li>

      <li>
        <a routerLink="/reporteador">Reporteador</a>
      </li>

      <li>
        <a routerLink="/gestion">Gestion de Usuarios</a>
      </li>

      <li>
        <a routerLink="/csesion">Cerrar Sesion</a>
      </li>

    </ul>
  </div>
  </div>



