
<header class="logoInfo">

  
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <label>
          <a routerLink="">
            <img class="logoInfo" src="assets/logo.svg">
          </a>
        </label>
      </div>
    </div>
  </div>
  
</header>

<header class="logoInfo">

  
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <label>
          <a routerLink="">
            <img class="logoInfo" src="assets/logo.svg">
          </a>
        </label>
      </div>
    </div>
  </div>
  
</header>

<div id="container">
    

  <!-- Sidebar -->

 

    <div class="sidebar-nav">
    <ul class="listaInfonavit">
      
      <li>
        <h3><a routerLink="/"><img class="iconito"  src="assets/ico-usuario.svg"> <span class="vinculo">Bienvenido</span> <br> <span class="usuario">José Pedro Espinoza</span></a></h3>
      </li>
      <li (click)="setActive(this)" class="fred-li">
        <h3><a routerLink="/catalogos"><img class="iconito"  src="assets/ico-menu-catalogos.svg"> <span class="vinculo">Catálogos</span> </a></h3>
      </li>
      <li (click)="setActive(this)" class="fred-li">
        <h3><a routerLink="/plantillas"><img class="iconito"   src="assets/ico-menu-plantillas.svg"> <span class="vinculo">Plantillas</span> </a></h3>
      </li>

      <li (click)="setActive(this)" class="fred-li">
        <h3><a routerLink="/reporteador"><img class="iconito"   src="assets/ico-menu-reporteador.svg"> <span class="vinculo">Reporteador</span> </a></h3>
      </li>

      <li (click)="setActive(this)" class="fred-li">
        <h3><a routerLink="/gestion"><img class="iconito"   src="assets/ico-menu-gestion-usuarios.svg"> <span class="vinculo">Gestión de Usuarios</span> </a></h3>
      </li>

      <li (click)="setActive(this)" class="fred-li">
        <h3><a routerLink="/csesion"><img class="iconito"   src="assets/ico-menu-cerrar-sesion.svg"> <span class="vinculo">Cerrar Sesión</span> </a></h3>
      </li>

    </ul>
  </div>
  </div>



